main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 20px;
}

.add {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.delete {
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
